importClassesFrom(ReadqPCR, qPCRBatch)
export(geomMean,
       stabMeasureM,
       stabMeasureRho,
       selectHKs,
       deltaCt,
       replaceNAs,
       deltaDeltaCt,
       makeAllNAs,
       combineTechReps,
       replaceAboveCutOff,
       makeAllNAs,
       replaceNAs)
