importClassesFrom(ReadqPCR, qPCRBatch)
export(geomMean,
       stabMeasureM,
       stabMeasureRho,
       selectHKs,
       deltaCt,
       deltaCq,
       replaceNAs,
       deltaDeltaCt,
       deltaDeltaCq,
       makeAllNAs,
       makeAllNewVal,
       combineTechReps,
       combineTechRepsWithSD,
       replaceAboveCutOff,
       CqValues,
       ComputeNRQs)
